<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176260510280-qrkm72c0tkfqgqiq9sfgk7hgr9jmqshs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176260510280-qrkm72c0tkfqgqiq9sfgk7hgr9jmqshs</string>
	<key>API_KEY</key>
	<string>AIzaSyCox6GkC2E2eSQlb5AxvgKpGneYnj6AVZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>176260510280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meflAppBloc</string>
	<key>PROJECT_ID</key>
	<string>mefl-bloc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mefl-bloc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176260510280:ios:39a70d826529f7fb94de7d</string>
</dict>
</plist>